@page
@using BiermanTech.CriticalDog.Helpers
@model BiermanTech.CriticalDog.Pages.Admin.ObservationDefinitions.IndexModel

@{
    ViewData["Title"] = "Observation Definitions";
}

<h1>Observation Definitions</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Definitions[0].DefinitionName)
            </th>
            <th>
                Observation Type
            </th>
            <th>
                Scientific Disciplines
            </th>
            <th>
                Metric Types
            </th>
            <th>
                Status
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Definitions)
        {
            <tr>
                <td>
                    @(StringHelper.SplitPascalCase(item.DefinitionName))
                </td>
                <td>
                    @(StringHelper.SplitPascalCase(Model.ObservationTypeNames[item.Id]))
                </td>
                <td>
                    @(StringHelper.SplitPascalCase(Model.ScientificDisciplineNames[item.Id]))
                </td>
                <td>
                    @(StringHelper.SplitPascalCase(Model.MetricTypeNames[item.Id]))
                </td>
                <td>
                    @(item.IsActive == true ? "Active" : "Inactive")
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Edit</a>
                    <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Details</a>
                    <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
                    <a asp-page="./Index" asp-route-id="@item.Id" asp-page-handler="Clone" class="btn btn-sm btn-secondary">Clone</a>
                </td>
            </tr>
        }
    </tbody>
</table>