@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Critical Dog</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BiermanTech.CriticalDog.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Critical Dog</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        @if ((await AuthorizationService.AuthorizeAsync(User, "RequireAuthenticated")).Succeeded)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="actionsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Actions
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="actionsDropdown">
                                    <li><a asp-page="/Subjects/Index" class="dropdown-item">Manage Dogs</a></li>
                                    <li><a asp-page="/Reports/Index" asp-route-slug="Kennel" class="dropdown-item">Manage Observations</a></li>
                                </ul>
                            </li>
                        }
                        @if ((await AuthorizationService.AuthorizeAsync(User, "RequireAdminRole")).Succeeded)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Admin Menu
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="adminDropdown">
                                    <li><a class="dropdown-item" href="/Admin/MetaTags/Index">Meta Tags</a></li>
                                    <li><a class="dropdown-item" href="/Admin/MetricTypes/Index">Metric Types</a></li>
                                    <li><a class="dropdown-item" href="/Admin/ObservationDefinitions/Index">Observation Definitions</a></li>
                                    <li><a class="dropdown-item" href="/Admin/ObservationTypes/Index">Observation Types</a></li>
                                    <li><a class="dropdown-item" href="/Admin/ScientificDisciplines/Index">Scientific Disciplines</a></li>
                                    <li><a class="dropdown-item" href="/Admin/SubjectRecords/Index">Subject Records</a></li>
                                    <li><a class="dropdown-item" href="/Admin/SubjectTypes/Index">Subject Types</a></li>
                                    <li><a class="dropdown-item" href="/Admin/Units/Index">Units</a></li>
                                    <li><a class="dropdown-item" href="/Admin/Users/ManageUsers">Manage Users</a></li>
                                </ul>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @if (TempData[Constants.AlertSuccess] != null)
            {
                <div class="alert alert-dark" role="alert">
                    @Html.Raw(@TempData[Constants.AlertSuccess])
                </div>
            }
            @if (TempData[Constants.AlertDanger] != null)
            {
                <div class="alert alert-danger" role="alert">
                    @Html.Raw(@TempData[Constants.AlertDanger])
                </div>
            }
            @if (TempData[Constants.AlertWarning] != null)
            {
                <div class="alert alert-warning" role="alert">
                    @Html.Raw(@TempData[Constants.AlertWarning])
                </div>
            }
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Tony Bierman - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>