@page
@using BiermanTech.CriticalDog.Helpers
@model BiermanTech.CriticalDog.Pages.Admin.MetricTypes.IndexModel

@{
    ViewData["Title"] = "Metric Types";
}

<h1>Metric Types</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Unit
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MetricTypes[0].Name)
            </th>
            <th>
                Status
            </th>
            <th>
                Used For
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.MetricTypes)
        {
            <tr>
                <td>
                    @(StringHelper.SplitPascalCase(Model.UnitNames[item.Id]))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @(item.IsActive ? (item.IsActive ? "Active" : "Inactive") : "Not Set")
                </td>
                <td>
                    @(StringHelper.SplitPascalCase(Model.ObservationDefinitionNames[item.Id]))
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Edit</a>
                    <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Details</a>
                    <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>