@page "{id:int}"
@model BiermanTech.CriticalDog.Pages.MetricTypes.DetailsModel

@{
    ViewData["Title"] = "Metric Type Details";
}

<h1>Metric Type Details</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.MetricTypeVM.ObservationDefinitionId)
            </dt>
            <dd class="col-sm-9">
                @Model.ObservationDefinitionName
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.MetricTypeVM.UnitId)
            </dt>
            <dd class="col-sm-9">
                @Model.UnitName
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.MetricTypeVM.Description)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.MetricTypeVM.Description)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.MetricTypeVM.IsActive)
            </dt>
            <dd class="col-sm-9">
                @(Model.MetricTypeVM.IsActive.HasValue ? (Model.MetricTypeVM.IsActive.Value ? "Active" : "Inactive") : "Not Set")
            </dd>
        </dl>
        <div class="form-group mt-3">
            <a asp-page="./Edit" asp-route-id="@Model.MetricTypeVM.Id" class="btn btn-primary">Edit</a>
            <a asp-page="./Index" class="btn btn-secondary ms-2">Back to List</a>
        </div>
    </div>
</div>